
body {
  padding: 1em;
  margin: 0 10px;
  max-width: 100%;
  line-height: 1.5;
}


h2, h4, h5, h6 {
font-family: 'Varela Round', sans-serif;
}

h1 {
  font-family: 'Fredoka One', cursive; 
  font-size: 3em;
  letter-spacing: 3px;
  padding-top: 60px;
  margin-bottom: 50px;
  margin-left: 20px;
  text-shadow: 0.5px 0.5px 0.5px #000;

}

h2, h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 30px;
}

h3 {
  font-family: 'Fredoka One', cursive;
}

p {
  max-width: 57ch;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 1.5em;
}

#joey_head {
  padding-top: 40px;
  padding-bottom: 20px;
}

.contentImg {
  border-radius: 50%;
  margin-bottom: 30px;
  margin-left: 30px;
}

#header {
  background: #fff;
  border-radius: 30px;
  box-shadow: -1px 3px 10px #000;
}

#subheader {
  background: #DC143C;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 30px;
  box-shadow: -1px 3px 10px #000;
}

.funkify {
  color: green;
  text-shadow: 1px 1px 1px yellow;
}

.simulatorBox {
  background: #fff;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 30px;
  box-shadow: -1px 3px 10px #000;
}

#visionSim {
  background: #00f;
  color: #fff;
  text-shadow: 0.6px 0.6px 0.6px #000;
}

#dyslexiaSim {
  background: orange;
  color: #fff;
  text-shadow: 0.6px 0.6px 0.6px #000;
}

#motorSim {
  background: green;
  color: #fff;
  text-shadow: 0.6px 0.6px 0.6px #000;
}

#cognitiveSim {
  background: red;
  color: #fff;
  text-shadow: 0.6px 0.6px 0.6px #000;
}

