.box {
  position: relative;
  margin: auto;
  display: block;
  background: none;
  /*border: 1px solid black;*/
  width: 500px;
  height: 250px;
  top: 1%;
}

.head {
  position: relative;
  left: 25%;
  width: 50%;
  height: 100%;
  padding-bottom: 20px;
  border-radius: 50%;
  shape-outside: : : 3px 3px 10px #121212
  /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,104,1) 50%,rgba(153,153,1) 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,104,1) 50%,rgba(153,153,1) 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,104,1) 50%,rgba(153,153,1) 100%);
	/* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73bbe9', endColorstr='#17567f',GradientType=0 ); IE6-9 */
	filter: none; /*IE6-9 */
	-moz-box-shadow:
	0px -1px 3px rgba(190,255,255,1), /*top external highlight*/
	2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
	inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
	inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
	-webkit-box-shadow:
	0px -1px 3px rgba(190,255,255,1), /*top external highlight*/
	2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
	inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
	inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
	box-shadow:
	0px -1px 3px rgba(190,255,255,1), /*top external highlight*/
	2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
	inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
	inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
}

.eye-left {
  position: absolute;
  top: 17%;
  left: 37%;
  width: 6%;
  height: 17%;
  background: #000;
  border-radius: 50%;
  z-index: 3;
  animation: blink 0.5s linear 1s;
}

.eye-right {
  position: absolute;
  top: 17%;
  left: 57%;
  width: 6%;
  height: 17%;
  background: #000;
  border-radius: 50%;
  z-index: 3;
 animation: blink 0.5s linear 1s;
}

@keyframes blink {
	0% {
		width: 6%;
		height: 17%;
	}


	50% {
		width: 6%;
		height: 1%;
	}

	100% {
		width: 6%;
		height: 17%;
	}

}

.mouth {
  position: absolute;
  z-index: 1;
  top: 70px;
  left: 1%;
  right: 0;
  height: 130px;
  width: 155px;
  margin: 0 auto;
  border-bottom: 20px solid #222;
  border-radius: 100%;
}



/**************************************
      MEDIA QUERY 360px MAX-WIDTH
**************************************/

@media screen and (min-width: 360px) and (max-width: 512px) {
    	.head {
    		position: relative;
    		width: 300px;
    		height: 300px;
        left: 15%;
        
    	}

     .eye-left  {
      top: 18%;
      left: 32%;
      width: 7%;
      height: 18%;
    }

    .eye-right
     {
      top: 18%;
      left: 53%;
      width: 7%;
      height: 18%;
      }

    @keyframes blink {
      0% {
        width: 7%;
        height: 18%;
      }

      50% {
        width: 7%;
        height: 1%;
      }

      100% {
        width: 7%;
        height: 18%;
      }

    }


    .mouth {
      top: 80px;
      left: -10%;
      right: 0;
      height: 173px;
      width: 206px;
      margin: 0 auto;
      border-bottom: 30px solid #222;
      border-radius: 100%;
    }

} /* end media 360px max-width*/
