/* The Fukol CSS 'grid system' */

.fukol-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;

}

.fukol-grid > * {
  flex: 1 0 10em;
  margin: 0.5em;
}

.fukol-grid > *:first-child {
  height: 500px;
}

.fukol-grid > *:first-child, .fukol-grid > *:last-child {
  flex-basis: calc(100% - 1em);
  border-radius: 20px;
     box-shadow: 1px 1px 3px #111;
  background: rgba(183,222,237,1);
  background: rgba(183,222,237,1);
  background: -moz-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 22%, rgba(113,206,239,1) 66%, rgba(154,215,238,1) 86%, rgba(183,222,237,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(183,222,237,1)), color-stop(22%, rgba(33,180,226,1)), color-stop(66%, rgba(113,206,239,1)), color-stop(86%, rgba(154,215,238,1)), color-stop(100%, rgba(183,222,237,1)));
  background: -webkit-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 22%, rgba(113,206,239,1) 66%, rgba(154,215,238,1) 86%, rgba(183,222,237,1) 100%);
  background: -o-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 22%, rgba(113,206,239,1) 66%, rgba(154,215,238,1) 86%, rgba(183,222,237,1) 100%);
  background: -ms-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 22%, rgba(113,206,239,1) 66%, rgba(154,215,238,1) 86%, rgba(183,222,237,1) 100%);
  background: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 22%, rgba(113,206,239,1) 66%, rgba(154,215,238,1) 86%, rgba(183,222,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=1 );
}

.fukol-grid > *:nth-child(2), .fukol-grid > *:nth-child(3), 
.fukol-grid > *:nth-child(4), .fukol-grid > *:nth-child(5), 
.fukol-grid > *:nth-child(6){
  flex-basis: 15em;
}

/* Joy Styles */

* {
  box-sizing: border-box; /* should be covered by reset */
}

body {
  
  margin: 1em auto;
  max-width: 100em;
  line-height: 1.5;
  text-align: center;
}

body * + * {
  margin-top: 1.5em;
}

h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 4em;
  color: #fff;
  text-shadow: 3px 3px 10px #121212;
}

.fukol-grid > * {
  padding: 1em;
  color: #121212;
  text-align: center;
}

#WakeUpButton, #ShowerButton,
#ExerciseButton, #HeadphonesButton,
#SleepButton {
  position: relative;
  border-radius: 50%;
  width: 170px;
  height: 170px;
 border: 0;
/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,104,1) 50%,rgba(153,153,1) 100%);
/* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,104,1) 50%,rgba(153,153,1) 100%);
/* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,104,1) 50%,rgba(153,153,1) 100%);
/* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73bbe9', endColorstr='#17567f',GradientType=0 ); IE6-9 */
filter: none; /*IE6-9 */
-moz-box-shadow:
0px -1px 3px rgba(190,255,255,1), /*top external highlight*/
2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
-webkit-box-shadow:
0px -1px 3px rgba(190,255,255,1), /*top external highlight*/
2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
box-shadow:
0px -1px 3px rgba(190,255,255,1), /*top external highlight*/
2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
}
  
}



button {
  background: #fff;
  border: 1px solid #121212;
  box-shadow: 1.5px 1.5px 0.5px #ccc;
  
}

.reset {
  font-family: 'Rock Salt', cursive;
  position: relative;
  width: 120px;
  height: 50px;
  font-weight: 800;
  color: #fff;
  font-size: 1.3em;
  text-shadow: 1px 1px 3px #111;
  border: none;
  border-radius: 10px;
  background: rgba(183,222,237,1);
  background: rgba(183,222,237,1);
  background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 44%, rgba(113,206,239,1) 66%, rgba(154,215,238,1) 86%, rgba(183,222,237,1) 100%);
  background: -webkit-gradient(top, right top, color-stop(0%, rgba(183,222,237,1)), color-stop(22%, rgba(33,180,226,1)), color-stop(66%, rgba(113,206,239,1)), color-stop(86%, rgba(154,215,238,1)), color-stop(100%, rgba(183,222,237,1)));
  background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 4%, rgba(113,206,239,1) 66%, rgba(154,215,238,1) 86%, rgba(183,222,237,1) 100%);
  background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 44%, rgba(113,206,239,1) 66%, rgba(154,215,238,1) 86%, rgba(183,222,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 44%, rgba(113,206,239,1) 66%, rgba(154,215,238,1) 86%, rgba(183,222,237,1) 100%);
  background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(33,180,226,1) 44%, rgba(113,206,239,1) 66%, rgba(154,215,238,1) 86%, rgba(183,222,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=1 );
  box-shadow: 1.5px 1.5px 0.5px #222;
}

.reset:active {
  top: -2px;
  left: -2px;
  box-shadow: inset 1.5px 1.5px 0.5px #222;
}

#WakeUpButton:active, #ShowerButton:active,
#ExerciseButton:active, #HeadphonesButton:active,
#SleepButton:active {
  top: -2px;
  left: -2px;
   /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(153,153,1) 10%,rgba(255,255,104,1) 100%);
/* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(153,153,1) 10%,rgba(255,255,104,1) 100%);
/* IE10+ */
background: linear-gradient(to bottom, rgba(153,153,1) 10%,rgba(255,255,104,1) 100%);
/* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73bbe9', endColorstr='#17567f',GradientType=0 ); IE6-9 */
filter: none; /*IE6-9 */
-moz-box-shadow:
0px -1px 3px rgba(0,0,0,0.2), /*top external highlight*/
2px 1px 1px rgba(190,255,255,1), /*bottom external shadow*/
inset 0 -1px 1px rgba(255,255,255,1), /*bottom internal shadow*/
inset 0 1px 1px rgba(0,0,0,0.5); /*top internal highlight*/
-webkit-box-shadow:
0px -1px 3px rgba(190,255,255,1), /*top external highlight*/
2px 1px 1px rgba(0,0,0,0.2), /*bottom external shadow*/
inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
box-shadow:
3px -1px 0px rgba(190,255,255,1), /*top external highlight*/
3px 1px 1px rgba(0,0,0,0.2), /*bottom external shadow*/
inset 1 -1px 0px rgba(0,0,0,0.5), /*bottom internal shadow*/
inset 1 1px 1px rgba(255,255,255,1); /*top internal highlight*/

transition: position 2s;

  }

.footer {
  color: #fff;
  font-size: 1.1em;
  font-family: 'Rock Salt', cursive;
  text-shadow: 1px 1px 3px #111;
}


/**************************************
      MEDIA QUERY 360px MAX-WIDTH
**************************************/

@media screen and (max-width: 360px) {

  h1 {
    position: relative;
    left: -23%;
  }

  .head {
    position: relative;
    width: 200px;
    height: 200px;
    left: 8%;
  }
  }



