
/***********
LAYOUT STYLING
***********/
html, body {
	font-family: 'Comfortaa', sans-serif;
	
}



footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-family: "Comfortaa", cursive;
	color: #fff;
	background-color: #4d7b92;
	padding: 20px 0;
}

footer a {
	color: #fff;
}

/******************
CONTENT STYLING
******************/

#logo_img {
  display: block;
  position: relative;
  left: 20px;
	margin: 30px auto;
  padding: 5px;
}

#logo_img:hover, #logo_img:focus {
	outline: 5px solid orange;
}

/******************
MEDIA QUERIES
******************/

@media screen and (max-width: 768px) {
  #div1, #div3, #div4, #div5, #div6, #div7 {
  grid-column-start: 1;
  grid-column-end: 4;
  }
  
  #div1 {
    position: relative;
    top: 0;
    grid-row: 1/2;
  }
  
  #div2 {
    position: relative;
    top: 100;
    grid-row: 2/3;
    grid-column: 1/4;
    clear: both;
  }
  
  #div4 {
    position: relative;
    top: 200;
    grid-row: 3/4;
    grid-column: 1/4;
    clear: both;
  }
  
  #div3 {
    position: relative;
    top: 300;
    grid-row: 4/5;
    grid-column: 1/4;
    clear: both;
  }
}/*end 768px*/
