
/******************************************
				NAVIGATION
******************************************/

nav {
	margin-top: 90px;
}

nav button {
	display: inline-block;
	position: relative;
	float: left;
	list-style-type: none;
	font-family: 'Comfortaa', cursive;
	font-size: 2em;
	padding: 15px 30px;
	margin-top: 20px;
	margin-right: 24.5px;
	border-radius: 7px;
	background-color: #fff;
}

nav button:hover, nav button:focus{
	top: 10px;
}

a {
	text-decoration: none;
	color: #000;
}

/******************************************
				INDEX.HTML STYLES
******************************************/

#index_container{
	font-family: 'Comfortaa', cursive;
	padding: 200px 0 0 100px;
}

#index_header {
	font-size: 7em;
	font-family: 'Rubik Mono One', cursive;
	text-shadow: 2px 2px #ccc;
}

.index_call_to_action {
	font-size: 2em;
}

#l1, #l6 {color: #93B5C6; }
#l2, #l7 {color: #DDEDAA;}
#l3 {color: #F0CF65;}
#l4 {color: #D7816A;}
#l5 {color: #BD4F6C;}

